In [1]:
import pandas as pd
import numpy as np

# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', None)
# pd.set_option('display.width', None)
# pd.set_option('display.max_colwidth', None)

def is_numeric(x):
    if np.isreal(x):
        return True
    else:
        return False

df = pd.read_csv("./priori_metrics.csv")
df = df.replace(r'^\s*$', np.nan, regex=True)
df['DKEFSCWI_10'] = pd.to_numeric(df['DKEFSCWI_10'])
df['DKEFSCWI_11'] = pd.to_numeric(df['DKEFSCWI_11'])
df['DKEFSCWI_12'] = pd.to_numeric(df['DKEFSCWI_12'])
non_floats = []
for col in df:
    if df[col].dtypes != "float64":
        if col == 'ID':
            continue
        non_floats.append(col)
df = df.drop(columns=non_floats)
df.set_index('ID', inplace=True)
dfarray = df.to_numpy()

from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
imp = IterativeImputer(max_iter=10, random_state=0)
dfarray = imp.fit_transform(dfarray)

df = pd.DataFrame(data=dfarray, index= df.index, columns=df.columns)

df.to_csv("./imputed_numerical_psychometrics.csv")

Index(['A00008326', 'A00008399', 'A00010893', 'A00013809', 'A00018030',
       'A00019903', 'A00021039', 'A00023510', 'A00025566', 'A00027159',
       ...
       'A00087985', 'A00088063', 'A00088267', 'A00088338', 'A00088341',
       'A00088403', 'A00088408', 'A00088716', 'A00089407', 'A00089408'],
      dtype='object', name='ID', length=1316)
Index(['bids_age', 'AGE', 'AGE_04', 'ANT_01', 'ANT_02', 'ANT_03', 'ANT_04',
       'ANT_05', 'BIR_01', 'BIR_15',
       ...
       'INT_08', 'INT_09', 'INT_10', 'INT_11', 'INT_12', 'INT_13', 'INT_14',
       'INT_15', 'INT_16', 'INT_17'],
      dtype='object', length=215)

,bids_age,AGE,AGE_04,ANT_01,ANT_02,ANT_03,ANT_04,ANT_05,BIR_01,BIR_15,...,INT_08,INT_09,INT_10,INT_11,INT_12,INT_13,INT_14,INT_15,INT_16,INT_17
ID,,,,,,,,,,,,,,,,,,,,,
A00008326,59.0,59.0,59.336986,13.0,28.0,123.0,675.0,99.0,NaN,NaN,...,41.0,100.0,100.0,200.0,100.0,100.0,100.0,50.0,50.0,50.0
A00008399,23.0,23.0,23.389041,12.0,2.0,95.0,498.0,99.0,NaN,NaN,...,52.0,109.0,121.0,230.0,107.0,118.0,114.0,68.0,88.0,82.0
A00010893,28.0,28.0,28.909589,56.0,59.0,60.0,603.0,86.0,NaN,NaN,...,46.0,93.0,104.0,197.0,95.0,103.0,99.0,37.0,58.0,47.0
A00013809,61.0,61.0,61.956164,52.0,33.0,134.0,619.0,98.0,NaN,NaN,...,49.0,100.0,107.0,207.0,100.0,105.0,103.0,50.0,63.0,58.0
A00018030,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
A00088403,NaN,50.0,50.361644,9.0,15.0,120.0,656.0,100.0,NaN,NaN,...,40.0,78.0,92.0,170.0,82.0,93.0,86.0,12.0,32.0,18.0
A00088408,NaN,60.0,60.526027,31.0,114.0,179.0,990.0,99.0,NaN,NaN,...,45.0,96.0,82.0,178.0,97.0,85.0,89.0,42.0,16.0,23.0
A00088716,NaN,39.0,39.098630,33.0,0.0,76.0,502.0,98.0,NaN,NaN,...,56.0,121.0,123.0,244.0,116.0,120.0,121.0,86.0,91.0,92.0
A00089407,NaN,55.0,55.945205,21.0,-39.0,105.0,567.0,99.0,NaN,NaN,...,44.0,81.0,102.0,183.0,85.0,101.0,92.0,16.0,53.0,30.0
A00089408,NaN,60.0,60.750685,10.0,26.0,113.0,571.0,98.0,NaN,NaN,...,49.0,102.0,80.0,182.0,102.0,83.0,91.0,55.0,13.0,27.0

/home/rad/.local/lib/python3.6/site-packages/sklearn/impute/_iterative.py:638: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  " reached.", ConvergenceWarning)

,bids_age,AGE,AGE_04,ANT_01,ANT_02,ANT_03,ANT_04,ANT_05,BIR_01,BIR_15,...,INT_08,INT_09,INT_10,INT_11,INT_12,INT_13,INT_14,INT_15,INT_16,INT_17
ID,,,,,,,,,,,,,,,,,,,,,
A00008326,59.000000,59.000000,59.336986,13.000000,28.000000,123.000000,675.000000,99.000000,2.049100,215.726678,...,41.000000,100.000000,100.000000,200.000000,100.000000,100.000000,100.000000,50.000000,50.000000,50.000000
A00008399,23.000000,23.000000,23.389041,12.000000,2.000000,95.000000,498.000000,99.000000,1.239313,215.753478,...,52.000000,109.000000,121.000000,230.000000,107.000000,118.000000,114.000000,68.000000,88.000000,82.000000
A00010893,28.000000,28.000000,28.909589,56.000000,59.000000,60.000000,603.000000,86.000000,1.585434,215.746207,...,46.000000,93.000000,104.000000,197.000000,95.000000,103.000000,99.000000,37.000000,58.000000,47.000000
A00013809,61.000000,61.000000,61.956164,52.000000,33.000000,134.000000,619.000000,98.000000,1.865490,215.734700,...,49.000000,100.000000,107.000000,207.000000,100.000000,105.000000,103.000000,50.000000,63.000000,58.000000
A00018030,11.000000,46.853824,47.353414,34.475909,17.992435,127.003963,612.292002,96.540272,1.604452,215.768513,...,50.753489,102.544994,99.153275,201.578801,101.969786,99.211984,100.663645,53.600151,48.322011,51.131958
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
A00088403,47.698653,50.000000,50.361644,9.000000,15.000000,120.000000,656.000000,100.000000,1.781580,215.724470,...,40.000000,78.000000,92.000000,170.000000,82.000000,93.000000,86.000000,12.000000,32.000000,18.000000
A00088408,35.099865,60.000000,60.526027,31.000000,114.000000,179.000000,990.000000,99.000000,2.345398,215.710572,...,45.000000,96.000000,82.000000,178.000000,97.000000,85.000000,89.000000,42.000000,16.000000,23.000000
A00088716,36.494204,39.000000,39.098630,33.000000,0.000000,76.000000,502.000000,98.000000,1.424102,215.762130,...,56.000000,121.000000,123.000000,244.000000,116.000000,120.000000,121.000000,86.000000,91.000000,92.000000
A00089407,56.675224,55.000000,55.945205,21.000000,-39.000000,105.000000,567.000000,99.000000,1.712745,215.725595,...,44.000000,81.000000,102.000000,183.000000,85.000000,101.000000,92.000000,16.000000,53.000000,30.000000
A00089408,58.392040,60.000000,60.750685,10.000000,26.000000,113.000000,571.000000,98.000000,1.958735,215.748810,...,49.000000,102.000000,80.000000,182.000000,102.000000,83.000000,91.000000,55.000000,13.000000,27.000000